models/unimol_plus/multitarget_head_pretrain/checkpoint_last_exp2_run71.pt
models/chemprop/chemprop_solv_embed_train.pickle
unimol_plus/wandb/
*.pt
*.pickle
*.zip
*.csv
unimol_plus/unimol_plus/models/__pycache__/
unimol_plus/unimol_plus/**/__pycache__/
*.pyc
unimol_plus/build/
unimol_plus/wandb/
